section {
  height: 100vh;
  form {
    gap: 1rem;
    padding: 0 .1rem;
    width: 100%;
    .field {
      width: 100%;
      min-width: 280px;
      max-width: 600px;
      label {
        flex: 1 1 50%;
      }
      input {
        flex: 0 1 50%;
      }
    }
  }
}
